# AWS Configuration
AWS_REGION=us-east-1
REGISTRY_TABLE=DeviceRegistryV2
USER_TABLE=UserRegistry
DEVICE_MASTER_TABLE=DeviceMaster
TS_DB=iot_waterlevel_db
TS_TABLE=distance_table

# CORS Configuration
CORS_ORIGINS=*

# Development
DEBUG=false

# Cognito Configuration
COGNITO_USER_POOL_ID=us-east-1_XXXXXXXXX
COGNITO_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
COGNITO_DOMAIN=iot-waterlevel-xxxxxxxxxx.auth.us-east-1.amazoncognito.com
COGNITO_REGION=us-east-1

